{% extends 'articles/base.html' %}

{% block body %}
  <h1>{{ article.id }}번 글</h1>
  <h2>{{ article.title }}</h2>
  <div class="d-flex flex-column align-items-end">
  <p>작성일자 : {{ article.created_at }}</p>
  <p>수정일자 : {{ article.updated_at }}</p>
  </div>
  

  <hr>
  <div class="container">
    <p>{{ article.content }}</p>
  </div>
  <hr>
  <div class="d-flex justify-content-end mt-3">
    <a class="btn btn-dark ml-2" href="{% url 'articles:index' %}" role="button">돌아가기</a>
    <a class="btn btn-dark ml-2" href="{% url 'articles:delete' article.pk %}" role="button">삭제하기</a>
    <a class="btn btn-dark ml-2" href="{% url 'articles:edit' article.pk %}" role="button">수정하기</a>
  </div>
{% endblock %}