{% extends 'articles/base.html' %}



{% block body %}
  <div class="mt-5">
    <h1>{{ article.id }}번 글</h1>
    <h2>{{ article.title }}</h2>
    <div class="d-flex flex-column align-items-end">
    <p>작성일자 : {{ article.created_at }}</p>
    <p>수정일자 : {{ article.updated_at }}</p>
    </div>
    <hr>
    <div class="container">
      <p>{{ article.content }}</p>
    </div>
    <hr>
    <div>
      <div style="float:left;">
        <p>댓글</p>
      </div>
      <div style="margin-left: 48px;padding-left: 12px; border-left: solid 0.5px">
        {%for comment in comments%}
          <p>{{comment.content}}</p>
          <form action="{% url 'articles:comment_delete' article.pk comment.pk %}" method="POST" onclick="return confirm('댓글 진짜 지울껴?')">
            {% csrf_token%}
            <input class="btn btn-dark ml-2" type="submit" value="삭제">
          </form>          
        {% empty %}
          <p>무플..ㅠㅠ 관심 좀 주세요</p> <!-- empty 쓰면 굳이 if 어쩌구 count 가 0 어쩌구 할필요가 없겠지-->
        {%endfor%}
      </div>
    </div>
    <hr>
    <div class="d-flex justify-content-end mt-3">
      <a class="btn btn-dark ml-2" href="{% url 'articles:index' %}" role="button">돌아가기</a>
      <!-- <a class="btn btn-dark ml-2" href="{% url 'articles:delete' article.pk %}" role="button">삭제하기</a> -->
      <form action="{% url 'articles:delete' article.pk %}" method="POST" onclick="return confirm('진짜 지울껴?')">
        {% csrf_token%}
        <input class="btn btn-dark ml-2" type="submit" value="삭제">
      </form>
      <a class="btn btn-dark ml-2" href="{% url 'articles:update' article.pk %}" role="button">수정하기</a>
    </div>
    <hr>
    <h3>댓글 작성</h3>
    <form action="{% url 'articles:comment_create' article.pk %}" method="POST">
      {% csrf_token%}
      <input class="form-control" type="text" name="comment" >
      <input class="d-block btn btn-dark ml-auto mt-2 " type="submit" value="등록">
    </form>
  </div>


  

  

{% endblock %}