{% block body %}
  <h1>게시판에 오신걸 환영합니다.</h1>
  <table border="1px solid black" style="width:50%" >
    <tr>
      <th>제목</th>
      <th>내용</th>
      <th>시간</th>
    </tr>
    {% for article in articles %}
    <tr>
      <td>{{article.title}}</td>
      <td>{{article.content | truncatechars:10 }}</td>
      <td>{{article.created_at}}</td>
    </tr>
    {% endfor %}
  </table>
  <div style="width:50%; text-align: right; margin-top: 8px;">
    <a href="/articles/new/">글 작성하기</a>
  </div>
  
{% endblock %}